.grid {
  display: grid;
  place-items: center;
  grid-gap: 10px;
}

.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.item {
  height: 100px;
  width: 100px;
  display: grid;
  place-content: center;
  background-color: gray;
}
