@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');
/* ----------------------------RESET CSS--------------------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

/* -------------------COMMON---------------------------------- */
a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

li {
  list-style-type: none;
}

.line-break {
  height: 0.0625rem;
  background-color: gray;
}

/* --------------------------HEADER--------------------------------- */

.header {
  min-height: 10vh;
  width: 100%;
  padding: 0.625rem 1rem;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  /* box-shadow: 0 -2px 15px 0px #ccc; */
}

.header .logo {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: 1.2rem;
  font-size: 2rem;
  font-family: 'Pathway Gothic One', sans-serif;
  cursor: pointer;
}

.header .logo #hamburger {
  display: none;
}

.button-icon {
  background-color: transparent;
  border: none;
  font-size: 2rem;
}

.button-icon:hover {
  /* transform: scale(1.2); */
  transform: scale3d(1.2, 1.5, 2);
}

.header .icons {
  margin-left: auto;
  padding: 0 1rem;
}

.header .icons .button-icon {
  margin-left: 1rem;
}

/* -------------------------------------------------------------- */

.container {
  width: 100vw;
  display: flex;
  background-color: #fff;
}

/* ------------------------------NAVBAR---------------------------- */

.navbar {
  width: 20vw;
  height: 90vh;
  /* padding: 1.25rem 0; */
}

.navbar .cross {
  display: none;
}

.navbar .list {
  height: 100%;
  flex-grow: 0.1;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 1rem;
  transition: all 0.2s ease-out;
}

.navbar > .list > h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.navbar > .list > .list-item {
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 1.25rem 1.5rem;
  cursor: pointer;
}
.navbar .list .list-item a {
  color: black;
}

.navbar > .list > .list-item:hover,
.active,
.active > a {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  font-weight: 700;
}

/* --------------------------------MAIN---------------------------------- */

.main {
  flex-grow: 1;
  margin: 1.25rem 1.9rem;
  box-shadow: 1px 1px 15px 0 #ccc;
  padding: 1.5rem 2rem;
}

.component-title {
  margin: 0.625rem;
}

.component-description {
  margin: 1.25rem 0;
  font-size: 1.25rem;
  line-height: 1.25em;
}

.component-preview {
  margin: 2rem;
  border: 1px solid gray;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
}

.component-preview .avatar,
.component-preview .button {
  margin: 0 0.625rem;
}

.component-preview.alert,
.flex-col {
  flex-direction: column;
  gap: 5px;
}

.codebox {
  max-width: 65vw;
  border-radius: 10px;
  margin: 1.5rem auto;
  font-size: 1.3rem;
}

.hljs {
  font-size: 1.25rem;
  border-radius: 10px !important;
}

pre code.hljs {
  padding: 0;
}

.code-box {
  background: #011627;
  padding: 1rem 1rem;
  border-radius: 10px;
  margin: 1.5rem auto;
  text-align: center;
  font-size: 1.15rem;
  display: flex;
  flex-direction: column;
  gap: 7px;
  color: pink;
}

.code {
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  margin-bottom: 5px;
}

.line1,
.line2 {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.line2 {
  padding-left: 2rem;
}

.code-box > .code > .line1 > span,
.code-box > .code > .line2 > span {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;
  white-space: pre;
}

.content {
  color: #fff;
}

.sym {
  color: #a2ffda;
}

.element {
  color: #84ebf7;
}

.attribute {
  color: #54a7ff;
}

.attr-content {
  color: #faa448;
}

.comment {
  color: rgb(24, 165, 158);
}

@media only screen and (max-width: 1000px) {
  html {
    font-size: 10px;
  }

  .header .logo #hamburger {
    display: block;
    margin-right: 1rem;
  }

  .navbar {
    display: none;
    height: 100%;
  }

  .navbar .cross {
    display: flex;
    height: 3rem;
    width: 100%;
    padding: 1rem 1.5rem 2.5rem 0;
    margin-bottom: 1rem;
    border-bottom: 2px solid black;
  }

  .navbar .cross i {
    margin-left: auto;
    font-size: 2rem;
    cursor: pointer;
  }

  .navbar .list {
    position: fixed;
    background-color: rgb(241, 241, 241);
    width: 40vw;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
      rgba(0, 0, 0, 0.22) 0px 10px 10px;
    top: 10vh;
  }

  .container .main {
    flex-grow: 1;
    width: 100%;
    margin: 0;
  }
}
