<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../../styles.css" />
    <link rel="stylesheet" href="../../thunder.css">
    <link rel="stylesheet" href="badge.css" />
    <title>⚡ || Badge</title>
  </head>
  <body>
    <header class="header">
      <div class="logo">
        <i class="fas fa-bars" id="hamburger"></i>
        <span><button class="button-icon">⚡</button></span>
        UI
      </div>
      <div class="icons">
        <button class="button-icon">
          <a href=""><i class="fab fa-linkedin"></i></a>
        </button>
        <button class="button-icon">
          <a href=""><i class="fab fa-github"></i></i></a>
        </button>
        <button class="button-icon">
          <a href=""><i class="fab fa-twitter"></i></a>
        </button>
      </div>
    </header>
    <div class="container">
      <nav class="navbar">
        <ul class="list">
          <div class="cross">
            <i class="far fa-times"></i>
          </div>
          <h3>Components</h3>
          <li class="list-item"><a href="../avatars/index.html">Avatar</a></li>
          <li class="list-item"><a href="../button/index.html">Button</a></li>
          <li class="list-item active"><a href="#">Badge</a></li>
          <li class="list-item"><a href="../alert/index.html">Alert</a></li>
          <li class="list-item"><a href="../card/index.html">Card</a></li>
          <li class="list-item"><a href="../image/index.html">Image</a></li>
          <li class="list-item"><a href="../input/index.html">Input</a></li>
          <li class="list-item"><a href="../list/index.html">List</a></li>
          <li class="list-item"><a href="../modal/index.html">Modal</a></li>
          <li class="list-item"><a href="../text utilities/index.html">Text Utilities</a></li>
          <li class="list-item"><a href="../snackbar/index.html">Snackbar</a></li>
        </ul>
      </nav>
      <main class="main">
        <h1 class="component-title">Badge</h1>
        <div class="line-break" ></div>
        <p class="component-description">The Alert component is used to provide contextual feedback messages for typical user actions with the handful of available and flexible alert messages.</p>

        <h2>Badge on Avatars</h2>
        <div class="component-preview">
          <div class="badge-avatar">
            <img src="../../images/avatar1.png" alt="avatar" class="avatar avatar-l">
            <div class="badge-avatar-red"></div>
          </div>
          <div class="badge-avatar">
            <img src="../../images/avatar1.png" alt="avatar" class="avatar avatar-l">
            <div class="badge-avatar-gray"></div>
          </div>
          <div class="badge-avatar">
            <img src="../../images/avatar1.png" alt="avatar" class="avatar avatar-l">
            <div class="badge-avatar-green"></div>
          </div>
        </div>
        <div class="code-box">
          <span class="code-box-title">Code Preview</span>
          <div class="code">
            <div class="line1">
              <span class="sym"><</span>
              <span class="element">div </span>
              <span class="attribute">class</span>
              <span class="sym">=</span>
              <span class="attr-content">"badge-avatar" </span>
              <span class="sym">></span>
            </div>
            
            <div class="line2">
              <span class="sym"><</span>
              <span class="element">img </span>
              <span class="attribute">src</span>
              <span class="sym">=</span>
              <span class="attr-content">"https://pin.it/1tf3iMD" </span>
              <span class="attribute">class</span>
              <span class="sym">=</span>
              <span class="attr-content">"avatar avatar-l" </span>
              <span class="attribute">alt</span>
              <span class="sym">=</span>
              <span class="attr-content">"avatar" </span>
              <span class="sym">/></span>
            </div>
            <div class="line2">
              <span class="sym"><</span>
              <span class="element">div </span>
              <span class="attribute">class</span>
              <span class="sym">=</span>
              <span class="attr-content">"badge-avatar-red" </span>
              <span class="sym">></span>
              <span class="sym"><</span>
              <span class="element">/div</span>
              <span class="sym">></span>
            </div>
            <div class="line1">
              <span class="sym"><</span>
              <span class="element">/div</span>
              <span class="sym">></span>
            </div>
          </div>
          <div class="code">
            <div class="line1">
              <span class="sym"><</span>
              <span class="element">div </span>
              <span class="attribute">class</span>
              <span class="sym">=</span>
              <span class="attr-content">"badge-avatar" </span>
              <span class="sym">></span>
            </div>
            
            <div class="line2">
              <span class="sym"><</span>
              <span class="element">img </span>
              <span class="attribute">src</span>
              <span class="sym">=</span>
              <span class="attr-content">"https://pin.it/1tf3iMD" </span>
              <span class="attribute">class</span>
              <span class="sym">=</span>
              <span class="attr-content">"avatar avatar-l" </span>
              <span class="attribute">alt</span>
              <span class="sym">=</span>
              <span class="attr-content">"avatar" </span>
              <span class="sym">/></span>
            </div>
            <div class="line2">
              <span class="sym"><</span>
              <span class="element">div </span>
              <span class="attribute">class</span>
              <span class="sym">=</span>
              <span class="attr-content">"badge-avatar-gray" </span>
              <span class="sym">></span>
              <span class="sym"><</span>
              <span class="element">/div</span>
              <span class="sym">></span>
            </div>
            <div class="line1">
              <span class="sym"><</span>
              <span class="element">/div</span>
              <span class="sym">></span>
            </div>
          </div>
          <div class="code">
            <div class="line1">
              <span class="sym"><</span>
              <span class="element">div </span>
              <span class="attribute">class</span>
              <span class="sym">=</span>
              <span class="attr-content">"badge-avatar" </span>
              <span class="sym">></span>
            </div>
            
            <div class="line2">
              <span class="sym"><</span>
              <span class="element">img </span>
              <span class="attribute">src</span>
              <span class="sym">=</span>
              <span class="attr-content">"https://pin.it/1tf3iMD" </span>
              <span class="attribute">class</span>
              <span class="sym">=</span>
              <span class="attr-content">"avatar avatar-l" </span>
              <span class="attribute">alt</span>
              <span class="sym">=</span>
              <span class="attr-content">"avatar" </span>
              <span class="sym">/></span>
            </div>
            <div class="line2">
              <span class="sym"><</span>
              <span class="element">div </span>
              <span class="attribute">class</span>
              <span class="sym">=</span>
              <span class="attr-content">"badge-avatar-green" </span>
              <span class="sym">></span>
              <span class="sym"><</span>
              <span class="element">/div</span>
              <span class="sym">></span>
            </div>
            <div class="line1">
              <span class="sym"><</span>
              <span class="element">/div</span>
              <span class="sym">></span>
            </div>
          </div>
        </div>

        <h2>Badge on Icons</h2>
        <div class="component-preview">
          <div class="badge-icon">
            <i class="far fa-shopping-cart"></i>
            <span>5</span>
          </div>
          <div class="badge-icon">
            <i class="far fa-envelope"></i>
            <span>5</span>
          </div>
        </div>
        <div class="code-box">
          <span class="code-box-title">Code Preview</span>
          <div class="code">
            <div class="line1">
              <span class="sym"><</span>
              <span class="element">div </span>
              <span class="attribute">class</span>
              <span class="sym">=</span>
              <span class="attr-content">"badge-icon" </span>
              <span class="sym">></span>
            </div>
            
            <div class="line2">
              <span class="sym"><</span>
              <span class="element">i </span>
              <span class="attribute">class</span>
              <span class="sym">=</span>
              <span class="attr-content">"far fa-shopping-cart" </span>
              <span class="sym">></span>
              <span class="sym"><</span>
              <span class="element">/i</span>
              <span class="sym">></span>
            </div>
            <div class="line2">
              <span class="sym"><</span>
              <span class="element">span</span>
              <span class="sym">></span>
              <span class="content">5</span>
              <span class="sym"><</span>
              <span class="element">/span</span>
              <span class="sym">></span>
            </div>
            <div class="line1">
              <span class="sym"><</span>
              <span class="element">/div</span>
              <span class="sym">></span>
            </div>
          </div>
          <div class="code">
            <div class="line1">
              <span class="sym"><</span>
              <span class="element">div </span>
              <span class="attribute">class</span>
              <span class="sym">=</span>
              <span class="attr-content">"badge-icon" </span>
              <span class="sym">></span>
            </div>
            
            <div class="line2">
              <span class="sym"><</span>
              <span class="element">i </span>
              <span class="attribute">class</span>
              <span class="sym">=</span>
              <span class="attr-content">"far fa-envelope" </span>
              <span class="sym">></span>
              <span class="sym"><</span>
              <span class="element">/i</span>
              <span class="sym">></span>
            </div>
            <div class="line2">
              <span class="sym"><</span>
              <span class="element">span</span>
              <span class="sym">></span>
              <span class="content">5</span>
              <span class="sym"><</span>
              <span class="element">/span</span>
              <span class="sym">></span>
            </div>
            <div class="line1">
              <span class="sym"><</span>
              <span class="element">/div</span>
              <span class="sym">></span>
            </div>
          </div>
        </div>
      </main>
    </div>
    <script src="../../scripts/app.js"></script>
  </body>
</html>
