:root {
  --bg-color: #333333;
  --text-color: #b47efb;
  --off-white: lightgray;
}

.snackbar {
  display: flex;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
  padding: 15px 20px;
  color: var(--off-white);
  background-color: var(--bg-color);
  border-radius: 5px;
  box-shadow: 0 0 5px 5px var(--off-white);
}

.snackbar h3 {
  font-weight: 400;
  font-size: 1rem;
}

.snackbar h2 {
  color: var(--text-color);
  margin: 0 30px;
  font-size: 1.3rem;
  font-weight: 400;
  cursor: pointer;
}

.snackbar span {
  cursor: pointer;
}