<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="alert.css" />
    <link rel="stylesheet" href="../../styles.css" />
    <title>⚡ || Alert</title>
  </head>
  <body>
    <header class="header">
      <div class="logo">
        <span><button class="button-icon">⚡</button></span>
        THUNDER UI
      </div>
      <div class="icons">
        <button class="button-icon">
          <a href=""><i class="fab fa-linkedin"></i></a>
        </button>
        <button class="button-icon">
          <a href=""><i class="fab fa-github"></i></i></a>
        </button>
        <button class="button-icon">
          <a href=""><i class="fab fa-twitter"></i></a>
        </button>
      </div>
    </header>
    <div class="container">
      <nav class="navbar">
        <ul class="list">
          <li class="list-item"><a href="../avatars/index.html">Avatar</a></li>
          <li class="list-item"><a href="../button/index.html">Button</a></li>
          <li class="list-item"><a href="../badge/index.html">Badge</a></li>
          <li class="list-item"><a href="#">Alert</a></li>
          <li class="list-item"><a href="">Card</a></li>
          <li class="list-item"><a href="">Image</a></li>
          <li class="list-item"><a href="">Input</a></li>
        </ul>
      </nav>
      <main class="main">
        <h1 class="component-title">Alert</h1>
        <div class="line-break" ></div>
        <p class="component-description">The Alert component is used to provide contextual feedback messages for typical user actions with the handful of available and flexible alert messages.</p>

        <div class="component-preview alert">
          <div class="alert-success"><span>&#10004;</span> Success</div>
          <div class="alert-warning"><span>&#9888;</span> Warning</div>
          <div class="alert-error"><span>&#x2620;</span> Error</div>
        </div>

        <div class="code-box">
          <span class="code-box-title">Code Preview</span>
          <div class="code">
            <div class="line1">
              <span class="sym"><</span>
              <span class="element">div </span>
              <span class="attribute">class</span>
              <span class="sym">=</span>
              <span class="attr-content">"alert-success" </span>
              <span class="sym">></span>
              <span class="content">Success</span>
              <span class="sym"><</span>
              <span class="element">/div</span>
              <span class="sym">></span>
            </div>
          </div>
          <div class="code">
            <div class="line1">
              <span class="sym"><</span>
              <span class="element">div </span>
              <span class="attribute">class</span>
              <span class="sym">=</span>
              <span class="attr-content">"alert-warning" </span>
              <span class="sym">></span>
              <span class="content">Warning</span>
              <span class="sym"><</span>
              <span class="element">/div</span>
              <span class="sym">></span>
            </div>
          </div>
          <div class="code">
            <div class="line1">
              <span class="sym"><</span>
              <span class="element">div </span>
              <span class="attribute">class</span>
              <span class="sym">=</span>
              <span class="attr-content">"alert-error" </span>
              <span class="sym">></span>
              <span class="content">Error</span>
              <span class="sym"><</span>
              <span class="element">/div</span>
              <span class="sym">></span>
            </div>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
