<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    
    <link rel="stylesheet" href="../../styles.css" />
    <link rel="stylesheet" href="textutilities.css" />
    <title>⚡ || Text Utilities</title>
  </head>
  <body>
    <header class="header">
      <div class="logo">
        <i class="fas fa-bars" id="hamburger"></i>
        <span><button class="button-icon">⚡</button></span>
        UI
      </div>
      <div class="icons">
        <button class="button-icon">
          <a href=""><i class="fab fa-linkedin"></i></a>
        </button>
        <button class="button-icon">
          <a href=""><i class="fab fa-github"></i></i></a>
        </button>
        <button class="button-icon">
          <a href=""><i class="fab fa-twitter"></i></a>
        </button>
      </div>
    </header>
    <div class="container">
      <nav class="navbar">
        <ul class="list">
          <div class="cross">
            <i class="far fa-times"></i>
          </div>
          <h3>Components</h3>
          <li class="list-item"><a href="../avatars/index.html">Avatar</a></li>
          <li class="list-item"><a href="../button/index.html">Button</a></li>
          <li class="list-item"><a href="../badge/index.html">Badge</a></li>
          <li class="list-item"><a href="../alert/index.html">Alert</a></li>
          <li class="list-item"><a href="../card/index.html">Card</a></li>
          <li class="list-item"><a href="../image/index.html">Image</a></li>
          <li class="list-item"><a href="../input/index.html">Input</a></li>
          <li class="list-item"><a href="../list/index.html">List</a></li>
          <li class="list-item"><a href="../modal/index.html">Modal</a></li>
          <li class="list-item active"><a href="#">Text Utilities</a></li>
          <li class="list-item"><a href="../snackbar/index.html">Snackbar</a></li>
          <li class="list-item"><a href="../navigation/index.html">Navigation</a></li>
          <li class="list-item"><a href="../rating/index.html">Rating</a></li>
        </ul>
      </nav>
      <main class="main">
        <h1 class="component-title">Text Utilities</h1>
        <div class="line-break" ></div>
        <p class="component-description">Text utilities are used for text alignment, styles and overflow things.</p>

        <h2>Headings</h2>
        <div class="component-preview flex-col">
          <div class="h1">Heading 1</div>
          <div class="h2">Heading 2</div>
          <div class="h3">Heading 3</div>
          <div class="h4">Heading 4</div>
          <div class="h5">Heading 5</div>
          <div class="h6">Heading 6</div>
        </div>

        <div class="code-box">
          <span>Code Preview</span>
          <div class="code">
            <div class="line1">
                <span class="symbol"><</span>
                <span class="element">div </span>
                <span class="attribute">class</span>
                <span class="symbol">=</span>
                <span class="attribute-content">"h1"</span>
                <span class="symbol">></span>
                <span class="element-content">Heading 1</span>
                <span class="symbol"><</span>
                <span class="symbol">/</span>
                <span class="element">div</span>
                <span class="symbol">></span>
            </div>
          </div>
          <div class="code">
            <div class="line1">
              <span class="symbol"><</span>
              <span class="element">div </span>
              <span class="attribute">class</span>
              <span class="symbol">=</span>
              <span class="attribute-content">"h2"</span>
              <span class="symbol">></span>
              <span class="element-content">Heading 2</span>
              <span class="symbol"><</span>
              <span class="symbol">/</span>
              <span class="element">div</span>
              <span class="symbol">></span>
            </div>
          </div>
          <div class="code">
            <div class="line1">
              <span class="symbol"><</span>
              <span class="element">div </span>
              <span class="attribute">class</span>
              <span class="symbol">=</span>
              <span class="attribute-content">"h3"</span>
              <span class="symbol">></span>
              <span class="element-content">Heading 3</span>
              <span class="symbol"><</span>
              <span class="symbol">/</span>
              <span class="element">div</span>
              <span class="symbol">></span>
            </div>
          </div>
          <div class="code">
            <div class="line1">
              <span class="symbol"><</span>
              <span class="element">div </span>
              <span class="attribute">class</span>
              <span class="symbol">=</span>
              <span class="attribute-content">"h4"</span>
              <span class="symbol">></span>
              <span class="element-content">Heading 4</span>
              <span class="symbol"><</span>
              <span class="symbol">/</span>
              <span class="element">div</span>
              <span class="symbol">></span>
            </div>
          </div>
          <div class="code">
            <div class="line1">
              <span class="symbol"><</span>
              <span class="element">div </span>
              <span class="attribute">class</span>
              <span class="symbol">=</span>
              <span class="attribute-content">"h5"</span>
              <span class="symbol">></span>
              <span class="element-content">Heading 5</span>
              <span class="symbol"><</span>
              <span class="symbol">/</span>
              <span class="element">div</span>
              <span class="symbol">></span>
            </div>
          </div>
          <div class="code">
            <div class="line1">
              <span class="symbol"><</span>
              <span class="element">div </span>
              <span class="attribute">class</span>
              <span class="symbol">=</span>
              <span class="attribute-content">"h6"</span>
              <span class="symbol">></span>
              <span class="element-content">Heading 6</span>
              <span class="symbol"><</span>
              <span class="symbol">/</span>
              <span class="element">div</span>
              <span class="symbol">></span>
            </div>
          </div>
        </div>
        <h2>Text</h2>
        <div class="component-preview flex-col align-start">
          <div class="text-bold">Bold Text</div>
          <div class="text-centered">Centered Text</div>
          <div class="text-gray">Gray Text</div>
        </div>

        <div class="code-box">
          <span>Code Preview</span>
          <div class="code">
            <div class="line1">
              <span class="symbol"><</span>
              <span class="element">div </span>
              <span class="attribute">class</span>
              <span class="symbol">=</span>
              <span class="attribute-content">"text-bold"</span>
              <span class="symbol">></span>
              <span class="element-content">Bold Text</span>
              <span class="symbol"><</span>
              <span class="symbol">/</span>
              <span class="element">div</span>
              <span class="symbol">></span>
            </div>
          </div>
          <div class="code">
            <div class="line1">
              <span class="symbol"><</span>
              <span class="element">div </span>
              <span class="attribute">class</span>
              <span class="symbol">=</span>
              <span class="attribute-content">"text-centered"</span>
              <span class="symbol">></span>
              <span class="element-content">Centered Text</span>
              <span class="symbol"><</span>
              <span class="symbol">/</span>
              <span class="element">div</span>
              <span class="symbol">></span>
            </div>
          </div>
          <div class="code">
            <div class="line1">
              <span class="symbol"><</span>
              <span class="element">div </span>
              <span class="attribute">class</span>
              <span class="symbol">=</span>
              <span class="attribute-content">"text-gray"</span>
              <span class="symbol">></span>
              <span class="element-content">gray Text</span>
              <span class="symbol"><</span>
              <span class="symbol">/</span>
              <span class="element">div</span>
              <span class="symbol">></span>
            </div>
          </div>
        </div>
      </main>
    </div>
    <script src="../../scripts/app.js"></script>
  </body>
</html>
